{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <div class="flex flex-col items-center w-[100dvw] h-[100dvh]">

    <nav class="w-full bg-rose-700 p-4 text-center text-white">
        <h1 class="text-2xl font-bold">Liste de tâches</h1>
    </nav>

    <section class="mt-12 flex flex-col justify-center">
        <div class="bg-rose-100 p-2 my-2">
            <p><span class="font-black">ID : </span>{{task.id}}</p>
        </div>
        <div class="bg-rose-100 p-2 my-2">
            <p><span class="font-black">Titre : </span>{{task.title}}</p>
        </div>
        <div class="bg-rose-100 p-2 my-2">
            <p><span class="font-black">Description : </span>{{task.description}}</p>
        </div>
        <div class="bg-rose-100 p-2 my-2">
            <p><span class="font-black">Status : </span>{{ task.status ? 'Complétée' : 'En attente' }}</p>
        </div>
        <div class="bg-rose-100 p-2 my-2">
            <p><span class="font-black">Date de création : </span>{{ task.createdAt ? task.createdAt|date('Y-m-d H:i:s') : '' }}</p>
        </div>
    <div class="w-full flex mb-2 my-1">
    {{ include('task/_delete_form.html.twig') }}
        <a class="p-2 text-md text-white uppercase font-bold bg-yellow-500 hover:bg-yellow-200 hover:text-yellow-500" href="{{ path('app_task_edit', {'id': task.id}) }}">modifier</a>
    </div>
    <a class="p-2 text-md text-white uppercase font-bold bg-blue-500 hover:bg-blue-200 hover:text-blue-500" href="{{ path('app_task_index') }}">Retour à l'index</a>

    </section>


    </div>
{% endblock %}
